{% extends "members/base.html" %}

{% block title %}My Books{% endblock title %}

{% block content %}

<main class="p-6 md:p-10">
    <!-- Inside <main> -->
    <h3 class="text-3xl font-bold mb-8">My Borrowed Books</h3>
    <div class="bg-white rounded-xl shadow-lg overflow-hidden">
        <table class="w-full">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-6 py-4 text-left">Cover</th>
                    <th class="px-6 py-4 text-left">Title</th>
                    <th class="px-6 py-4 text-left">Author</th>
                    <th class="px-6 py-4 text-left">Issued Date</th>
                    <th class="px-6 py-4 text-left">Due Date</th>
                    <th class="px-6 py-4 text-left">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if books %}
                {% for book in books %}
                <tr id="issue-row-{{ book.id }}" class="border-t hover:bg-gray-50">
                    <td class="px-6 py-4"><img src="{{book.copy.book.cover_image.url}}" alt="Book" class="w-16 h-24 object-cover rounded"/></td>
                    <td class="px-6 py-4 font-medium">{{book.copy.book.title}}</td>
                    <td class="px-6 py-4">{{book.copy.book.author}}</td>
                    <td class="px-6 py-4">{{book.issued_at}}</td>
                    <!--<td class="px-6 py-4 text-red-600 font-medium">{{book.due_at}} (Overdue)</td>-->
                    <td class="px-6 py-4 text-red-600 font-medium">{{book.due_at}}</td>
                    <td class="px-6 py-4 space-x-2">
                        <button
                            onclick="renewIssue({{ book.id }})"
                            class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
                            Renew
                        </button>

                        <button
                            id="btn-1"
                            onclick="returnIssue({{ book.id }})"
                            class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700">
                            Return
                        </button>
                        <button
                            id="btn-2"
                            style="opacity: .4; font-style: italic; display:none;"
                            onclick="returnIssue({{ book.id }})"
                            class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700">
                            Return
                        </button>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr class="border-t hover:bg-gray-50">
                    <td class="px-6 py-4">No Books yet!</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</main>

<script>
function renewIssue(issueId) {
    const formData = new FormData();
    var btn_1 = $("#btn-1");
    var btn_2 = $("#btn-2");

    formData.append('issue_id', issueId);
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

    btn_1.hide();
    btn_2.show();

    fetch('/issues/renew/', {
        method: 'POST',
        body: formData
    })
    .then(res => res.json())
    .then(data => {
        btn_1.show();
        btn_2.hide();
        if (data.success) {
            const row = document.getElementById(`issue-row-${issueId}`);
            row.querySelector('td:nth-child(5)').innerText = data.new_due_date;
            showToast('Book renewed successfully', 'success');
        } else {
            showToast(data.message, "error");
        }
    });
}

function returnIssue(issueId) {
    if (!confirm('Return this book?')) return;

    const formData = new FormData();
    var btn_1 = $("#btn-1");
    var btn_2 = $("#btn-2");

    formData.append('issue_id', issueId);
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');


    btn_1.hide();
    btn_2.show();

    fetch('/issues/return/', {
        method: 'POST',
        body: formData
    })
    .then(res => res.json())
    .then(data => {
        btn_1.show();
        btn_2.hide();

        if (data.success) {
            document.getElementById(`issue-row-${issueId}`).remove();
            showToast('Book returned successfully', 'success');
        }
    });
}
</script>


{% endblock content %}